.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 1px solid #000;
}

.link{
    text-decoration: none;
    color: #000;
}

.linksContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}